@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https //fonts.googleapis.com/css family=roboto");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.logo img {
  width: 125px;
  height: 125px;
}

.navbar {
  height: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar ul li a {
  color: #646464;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.navbar ul span li a {
  color: black;
}

.navbar ul li .home::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #ff6600;
}
.home {
  color: #000000 !important;
  font-weight: 600 !important;
}

.navbar .button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ff6600;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: none;
  height: 40px;
  gap: 10px;
}
.navright {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navright .message {
  color: white;
  background-color: #ff6600;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 100px;
  padding: 40px 20px 20px 50px;
}

.first .text-one {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.first .heading-one div {
  width: 470px;
  height: 290px;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  color: #000000;
}

.first .heading-one span {
  color: #ff6600;
}

.first .para div {
  width: 450px;
  font-size: 16px;
  font-weight: 400;
  color: #646464;
}
.first .arrow {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #0e1034;
  font-size: 18px;
  font-weight: 600;
}

.first .arrow li span {
  top: 5.23px;
  left: 20.75px;
  margin-left: 15px;
}
.pic-one img {
  border-radius: 30px;
  margin-top: 20px;
  width: 700px;
  height: 520px;
  object-position: left;
}
.navigation{
  position: sticky;
  top: 0;
  z-index: 1;
}
.HomePage{
  height: 700px;
}
/*------new section----------*/

.what{
  padding: 0 35px;
  height: 920px;
}
.second {
  height: 856px;
  background-color: #eb7202e5;
  border-radius: 50px;
  display: flex;
  gap: 100px;
  justify-content: center; /* Horizontally centers the parent div */
}

.second .sec-text {
 padding: 150px 0 0 100px;
}

.second .box {

  height: 800px;
  border-radius: 40px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #0e1034;
}

.second .top {
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  color: white;
}

.second .top span {
  color: black;
}

.second .bottom {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: white;
}

.second .bottom .bbl {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.13px;
  text-align: left;
  color: #333333;
}

.second .bottom span {
  color: black;
}
/*-----------------------new sectionnnnn-----------------------------*/
.third{
  padding: 80px;
  height: 600px;
}
.third .text {
  width: 98.6%;
  height: 60px;
  font-size: 30px;
  font-weight: 600;
  line-height: 60px;
  margin-left: 10px;  
}

.slide-button {
  width: 106px;
  height: 34px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  float: right;
  margin-top: 20px;
}

.btn1, .btn2 {
  width: 34px;
  height: 34px;
  padding: 7px 6px 9px 6px;
  gap: 10px;
  border-radius: 5px;
  background-color: #FF6600;
  color: white;
  font-size: 19px;
  border: none;
  cursor: pointer;
}

.cart img {
  position: relative;
  width: 60px;
  height: 60px;
  top: 26.25px;
  left: 10px;
  transform: rotate(180deg);
  font-weight: 700;
  margin-top: 40px;
}

.third .cart-box {
  height: 487px;
}

.third .cart {
  position: relative;
  width: 357.01px;
  height: 487px;
  background-color: #0E1034;
  left: 0.01px;
  gap: 0px;
  border-radius: 40px;
  margin-top: 35px;
}

.third .cart-box .cart p {
  position: relative;
  width: 319px;
  height: 172px;
  top: 15px;
  left: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: white;
}

.third .cart-box .cart .customer {
  width: 357.01px;
  height: 139px;
  top: 325.5px;
  gap: 25px;
  color: green;
  font-size: 400;
  border: 1px solid #A6A6A6;
  border-style: solid none none none;
}

.third .cart-box .cart .customer .c-desc img {
  width: 59px;
  height: 59px;
  border-radius: 40px;
  transform: rotate(0deg);
  left: 37px;
  margin-top: 7px;
}

.third .cart-box .cart .customer .c-desc {
  display: flex;
  gap: 10px;
}

.third .cart-box .cart .customer .c-desc p {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  left: 43px;
}

.third .cart-box .cart .customer .c-desc span {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #A6A6A6;
}

.read-more {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 137px;
  height: 28px;
  gap: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.read-more-btn:hover {
  opacity: 1; /* Change opacity on hover */
}

.read-more-btn .arrow {
  font-size: 16px;
}

.cards-wrapper {
  overflow: hidden;
  width: 100%;
}

.cards-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.cart {
  min-width: 357.01px; 
  margin: 10px;
  padding: 20px;
  background-color: #0E1034;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.cart img {
  position: relative;
  width: 60px;
  height: 60px;
  top: 26.25px;
  left: 10px;
  transform: rotate(180deg);
}

.cart p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: white;
}

.cart .customer {
  width: 357.01px;
  height: 139px;
  margin-top: 35px;
  gap: 25px;
  color: green;
  font-size: 400;
  border: 1px solid #A6A6A6;
  border-style: solid none none none;
}


.cart .customer .c-desc img {
  width: 59px;
  height: 59px;
  border-radius: 40px;
  transform: rotate(0deg);
  left: 37px;
  margin-top: 7px;
}

.cart .customer .c-desc {
  display: flex;
  gap: 10px;
}

.cart .customer .c-desc p {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  left: 43px;
}

.cart .customer .c-desc span {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #A6A6A6;
}

.read-more {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 137px;
  height: 28px;
  gap: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.read-more:hover {
  opacity: 1; /* Change opacity on hover */
}

.read-more .arrow {
  font-size: 16px;
}










/*-----------------------------------new section-----------------------------------*/
.box1 {
  height: 805px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 .box2 {
  width: 95%;
  height: 578px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 .text-box {
  width: 685px;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}

.box2 .text-box button {
  width: 257px;
  height: 67px;
  padding: 10px;
  border-radius: 4px;
  background-color: #ff6600;
  color: white;
  border: none;
  margin-top: 70px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}

.box2 .text-box button span {
  width: 13.54px;
  height: 17.5px;
  top: 5.23px;
  left: 20.75;
  font: bold;
  margin-left: 7px;
  width: auto;
  height: auto;
  font-size: 24px;
}

.pic-box {
  height: 579px;
  overflow: hidden;
}

.box1 .box2 .pic-box .top img {
    width: 570px;
    height: 410px;
    position: relative;
    transform: rotate(33.4deg);
    bottom: 535px;
    left: 155px;
}

.box1 .box2 .pic-box .bottom img {
    width: 650px;
    height: 460px;
    transform: rotate(17.27deg);
    margin-left: 20px;
    margin-top: 215px;
}
.downsection{
  margin-top: 50px;
}
.dropdown {
  margin-bottom: -5px;
  margin-left: 50px;
}

.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 60px;
}

.arrow {
  font-size: 14px;
}

.dropdown-content p {
  margin: 0 0 10px;
}

/*white line*/
.dropdown::after {
  content: "";
  display: block;
  bottom: 11px;
  width: 90%;
  height: 1px;
  background-color: #a6a6a6;
}



.dropdown.show .dropdown-content {
  display: block;
}

.dropdown-content {
  padding: 10px;
  border-radius: 5px;
  margin-top: -15px;
  color: #A6A6A6;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown.show .dropdown-content {
  display: block;
  max-height: 200px; /* Adjust based on the content height */
  opacity: 1;
}

.arrow {
  font-size: 14px;
  transition: transform 0.3s ease;
}

.dropdown.show .arrow {
  transform: rotate(180deg);
}



/*-----------------------new swction-----------------------------*/

.heading-text #p1 {
width: 520px;
height: 40px;
margin-top: 42px;
margin-left: 120px;
font-size: 36px;
font-weight: 700;
line-height: 40px;
text-align: left;
color: #0E1034;

}


.topic{
width: 1488px;
height: 74px;
display: flex;
column-gap: 400px;


}

.topic .prodt,.team-augmentation,.design,.devepos{
position: relative;
width: 3570px;
height: 74px;

}

.topic ,.prodt,.team-augmentation,.design,.devepos p{
  width: 212px;
  height: 28px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;

  
}


.topic .prodt p{

  color: white;
  background-color: #1A1A1A;
}